<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>舆论</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="user.css">
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src= http://res.wx.qq.com/open/js/jweixin-1.0.0.js></script>
    <script src="js/cellphone.js"></script>
</head>

<body>
<div class = "background">
    <div id = "pushMe">按我</div>
    <!--<div id = "text1">
        测试：
    </div>-->
</div>


</body>




</html>