<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>舆论</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="user.css">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src= http://res.wx.qq.com/open/js/jweixin-1.0.0.js></script>
    <link rel="stylesheet" href="path/to/weui/dist/style/weui.min.css"/>
    <script src="config.js"></script>
    <script src="voiceResponse.js"></script>
</head>
<body>
<div class = "hint">长按下方按钮说话，录制完成后出现<br>"上传成功"则表示录制成功:)</div>
    <div class = "background">
        <div id = "pushMe">按住我</div>
        <!--<div id = "text1">
            测试：
        </div>-->
    </div>
<div class="weui_dialog_alert" >
    <div class="weui_dialog">
        <div class="weui_dialog_bd"><br>上传成功<br></div>
        <div class="hr-line"><hr></div>
        <div class="weui_dialog_ft">
            <a href="#" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
</body>
</html>
